{% extends 'base.html'%}
{% block content %}

{% load static %}
  <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">About Us</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a  href="{%url 'home'%}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>

 <!-- About Start -->
        <br>
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <h1 class="mb-4">About Us</h1>
                       <p>St. Anthony’s Little Angels Education Centre is a warm, nurturing, and faith-inspired learning community dedicated to the holistic development of young children. We believe that every child is a precious gift with unique talents, abilities, and potential. Our centre provides a safe and joyful environment where children are encouraged to learn, explore, and grow with confidence.</p>
                        <p>Guided by strong moral values and a child-centered approach, we focus on developing the whole child—academically, socially, emotionally, spiritually, and physically. Through play-based and structured learning experiences, we help children build strong foundations in literacy, numeracy, creativity, and critical thinking while fostering kindness, respect, and responsibility.</p>

                            <p>At St. Anthony’s Little Angels, our caring and qualified educators are passionate about early childhood education. They create engaging lessons that recognize each child’s individual learning pace and style, ensuring that every learner feels supported and valued. We emphasize positive guidance, encouragement, and love to help children develop self-confidence and independence.
                            We also believe that strong partnerships with parents and guardians are essential to a child’s success. By working closely with families, we create a supportive community that nurtures children both at school and at home.</p>
                        
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-info rounded-pill py-3 px-5" href="{% url 'history'%}">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="{% static 'website/img/sta5.jpg'%}" alt="" style="width: 100px; height: 100px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Mrs. Anthonina Onyango</h6>
                                        <small>Managing Director & Founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="{% static  'website/img/sta4.jpg'%}" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static 'website/img/stanthony1.jpg'%}" alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="{% static 'website/img/home.jpg'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock %}
       