{% extends 'base.html'%}
{% block content %}

{% load static %}
        <!-- Testimonial Start -->
          <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Departmental Heads</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">departmental Heads</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-xxl py-5">
            <div class="jumbotron">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Departmental Heads</h1>
                    <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-1.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Mr. Morris Mmata</h3>
                                <span>ICT Department</span>
                            </div>                          
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-2.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Madam Millicent Otieno</h3>
                                <span>Gendar Department</span>
                            </div>                           
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Mr. Thaddius Ojiambo</h3>
                                <span>Co-currular Activtities Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Mr. Hesborn Odhiambo</h3>
                                <span>Scout & Journalism Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1"> Madam Caroline Letisha</h3>
                                <span>Health Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">MR.Bisaya Ligawa</h3>
                                <span> 4K Club Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">MR. Welfare</h3>
                                <span>Social Welfare Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Madam Risanael Okello</h3>
                                <span>Finance & Accounts Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Madam Rose Otieno</h3>
                                <span>Uniforms Department</span>
                            </div>
                        </div>
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">Madam Pamela Ayiera</h3>
                                <span>Hospitality Department</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <p class="fs-5">Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                        <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'website/img/testimonial-3.jpg'%}" style="width: 90px; height: 90px;">
                            <div class="ps-3">
                                <h3 class="mb-1">MR. Alego</h3>
                                <span>Sanitation Department</span>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <!-- Testimonial End -->
{% endblock%}
