{% extends 'base.html'%}
{% block content %}

{% load static %}

<p>welcome</p>
 <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Our History</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a  href="{%url 'home'%}">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Our History</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br>
        <div class="container-xxl py-12">
            <div class="container">
                <div class="row g-5 align-items-center">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="mb-4">Our History</h1>
                    <p>The school was established in 1992 as a private nursery institution. In 1997, it admitted its pioneer class of ten pupils. In the same year, the pioneer class sat for the Kenya Certificate of Primary Education (KCPE) examinations, where the school recorded commendable performance. It emerged top in Homa Bay County with a mean score of 420.5 marks. The best-performing candidate scored 640 out of a possible 700 marks and was ranked among the leading candidates in South Nyanza. Notably, the lowest score recorded by the school was 404 marks, an impressive achievement compared to other schools in the region.</p>
             </div>
         </div>
    </div>
</div>

 {% endblock %}