{% extends 'base.html'%}
{% block content %}

{% load static %}
  <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Job Requirements <i class="fa fa-briefcase"></i></h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Job Requirements</li>
                        
                    </ol>
                </nav>
            </div>
        </div>
        <div class="job-requirements">
            <div class="container py-5">
         <h5>Holistic Early Childhood Education</h5>
                <p>We follow a balanced curriculum that integrates academic readiness, creativity, and character development. Our approach ensures that children not only learn essential skills—such as literacy, numeracy, and critical thinking—but also develop confidence, empathy, and independence.</p>
                    <h5>Safe, Caring, and Child-Friendly Environment</h5>
                    <p>Your child’s safety and well-being come first. Our classrooms are designed to be warm, engaging, and age-appropriate, while our teachers provide consistent care, supervision, and emotional support. We strive to create a home-like atmosphere where every child feels included, respected, and loved.</p>
                    <h5>Qualified and Passionate Teachers</h5>
                    <p>We pride ourselves on having a team of trained, experienced, and dedicated educators who are passionate about early childhood development. Our teachers understand the importance of personalized attention and ensure that each child learns at their own pace while being gently encouraged to explore their potential.</p>
                    <h5>Strong Parent–Teacher Partnership</h5>
                    <p>We value open communication and collaboration with parents. Through regular updates, meetings, and progress reports, we ensure families are informed and involved every step of the way. Together, we create a strong support system for your child’s development.</p>
                    <a class="btn btn-success" href="{%url 'vacancy'%}">Apply Job</a>
                </div>
                </div>
        <!-- Call To Action Start -->
    

{% endblock %}
       